<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Detection</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Navigation Menu -->
    <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333;">
        <li style="float: left;"><a class="active" href="home.html" style="display: block; color: white; padding: 14px 16px;">Home</a></li>
        <li style="float: left;"><a href="face.html" style="display: block; color: white; padding: 14px 16px;">Face</a></li>
        <li style="float: left;"><a href="voice.html" style="display: block; color: white; padding: 14px 16px;">Voice</a></li>
    </ul>

    <!-- Voice Detection Section -->
    <a href="voice_recording.html"><img src="microphone.svg" alt="Microphone Icon"></a>
    <h2 class="heading">Voice Analysis System</h2>
    <a href="voice_analyzer.html"><button class="voice_detect_btn">Detect</button></a>

</body>
</html>
